.img1 {
    width: 270px;
    max-width: 100%;
    height: auto;
}

.scrollpic {
    background: transparent;
    float: left;
    height: 100%;
    margin-left: 10%;
    width: 80%;
    position: relative;
    overflow: hidden;
}

.scrollpic ul {
    list-style: none;
    margin-left: -30px;
    overflow: hidden;
    overflow-x: auto;
    white-space: nowrap;
}

.scrollpic li {
    display: inline-block;
    width: 250px;
    background: transparent;
    text-align: center;
}

.scrollpic img {
    width: 170px;

}

.scrollpic p {
    text-align: center;
    font-size: 20px;
}

.scroll-left {
    position: absolute;
    top: 35%;
    width: 60px;
    height: 30%;
    background: rgba(200, 200, 200, 0.8);
    text-align: center;
}

.scroll-left img {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 50%;
    left: 0%;
    margin-top: -30px;
    opacity: 0.5;
}

.scroll-left:hover {
    transition: all 0.2s ease-in-out;
    background: rgba(200, 200, 200, 0.5);
}

.scroll-left:hover img {
    opacity: 1;
}

.scroll-right {
    position: absolute;
    top: 35%;
    right: 0;
    width: 60px;
    height: 30%;
    background: rgba(200, 200, 200, 0.8);
}

.scroll-right img {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 50%;
    left: 0%;
    margin-top: -30px;
    opacity: 0.5;
}

.scroll-right:hover {
    transition: all 0.2s ease-in-out;
    background: rgba(200, 200, 200, 0.5);
}

.scroll-right:hover img {
    opacity: 1;
}

.vertical-scroll {
    width: 30%;
    /*background: rgba(0, 0, 0, 0);*/
	height: 96%;
	background-color: #F4F4F4;
	margin-top: 1%;
	margin-bottom: 60%;
	padding-bottom: 0;
    float: left;
    overflow: hidden;
    text-align: center;
    transition: all 0.8s ease-in-out;
    top: 0px;
    position: relative;
}

.vertical-scroll ul {
    list-style: none;
    margin-left: -25px;
    position: relative;
    transition: all 0.8s ease-in-out;
}

.vertical-scroll li {}

.vertical-scroll img {
    transition: all 0.8s ease-in-out;
    height: auto;
    position: relative;
    padding-bottom: 13px;
}

.vertical-scroll ul div:nth-of-type(1) img {
    width: 33%;
}

.vertical-scroll ul div:nth-of-type(2) img {
    width: 63%;
}

.vertical-scroll ul div:nth-of-type(3) img {
    width: 90%;
}

.vertical-scroll ul div:nth-of-type(4) img {
    width: 63%;
}

.vertical-scroll ul div:nth-of-type(5) img {
    width: 33%;
}


.commentDiv {
    width: 70%;
    height: 100%;
    background: transparent;
    float: left;
    overflow: hidden;
}

.commentDiv>p {
    height: 10%;
    background: transparent;
    font-size: 50px;
    margin-left: 50px;
    margin-top: 30px;
}



.circleimg {
    border-radius: 50%;
    width: 50%;
    margin-left: 50px;
    margin-top: 30px;
    float: left;
    background: transparent;
    position: relative;
}

@keyframes myMove {
    0% {
        padding-top: 30px;
    }

    100% {
        padding-top: 50px;
    }
}

#down {
    text-align: center;
    height: 150px;
    animation: myMove 1s linear infinite alternate;
}

#downCanvas {
    animation: downAnimation 1s;
    animation-fill-mode: forwards;
    animation-delay: 2s;
}

@keyframes downAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.bgscroll {
    float: left;
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.box {
    overflow: hidden;
    position: fixed;
    left: 90%;
    top: 85%;
    width: 80px;
    height: 80px;
    z-index: 100;
    opacity: 0;
    animation: boxAnimation 1s;
    animation-fill-mode: forwards;
    animation-delay: 2s;
    border-radius: 50%;
}
@keyframes boxAnimation{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.box div {
    position: absolute;
    height: 80px;
    width: 80px;
}


.bg2 {
    top: 0;
    left: 0;
    background: aqua;
    opacity: 0.6;
}
.bg2 img{
    transition: 1s;
}

.cover {
    transform: rotate(-90deg);
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.1);
    transition: 1s;
    transform-origin: left bottom; 

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cover p{
    position: absolute;
    top: 10px;
    font-size: 30px;
    font-weight: 500;
    color: #000;
    line-height: 1;
}

.box:hover .cover {
    transform: rotate(0);
}

.box:hover .bg2 img{
    opacity: 0;
}

.cover h1 {
    color: #fff;
}